@tailwind base;
@tailwind components;
@tailwind utilities;


.top-nav .menu-wrapper {
  @apply fixed top-0 left-0 bottom-0;
  width: 600px;
  transform: translateX(-600px);
  transition: transform 0.7s;
  background: rgba(128, 128, 128, 0.8);
  border-radius: 0 2rem 2rem 0;
  backdrop-filter: blur(10px);
}

.top-nav .menu-wrapper.is-opened {
  transform: translateX(80px);
}

.top-nav .menu-wrapper .menu {
  opacity: 0;
  transition: opacity 0.4s;
}

.top-nav .menu-wrapper.is-opened .menu {
  opacity: 1;
  transition-delay: 0.6s;
}

.menu-close {
  @apply absolute top-5 right-5 text-2xl;
}
.top-nav .fixed-menu {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
